
.container{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color:  white ; 
  height: 100%;
}

.downloadbuttoncontainer{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-align: center; 
  margin: 20px;
}

.downloadbutton{
  display: block; 
  align-items: center;
  /* width: 50%; */
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  background: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

.videoItem {  
  
  display: flex;
  align-items: center;
  flex-direction: column; 
  background: #CDE8E5;
  
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px ;
 
}

.videoItem h3 { 
  width: 100%;
  font-size: 1.5rem;
  color: black;
  /* background-color: #333; */
  margin-bottom: 15px;
  word-break: break-all;   

  

}

.videoItem video {
  display: block;
  margin-bottom: 15px;
  border-radius: 8px; 

}

.videoItem button {
  display: block;
  /* width: 50%; */
  padding: 5px 20px 5px 20px;
  font-size: 1em;
  background: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  /* margin-bottom: 5px; */
}

.video-item button:hover {
  background: #005bb5;
}



@media (max-width: 480px) {
 
  .videoItem video{
    width: 320px;
  }
}
